
* {
    padding: 0;
    margin: 0;
}
html {
    overflow: hidden;
    font-family: Verdana, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    margin: 0;
    overflow-x: hidden;
    background-color: #fff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';
    direction: ltr;
    text-align: left;
}
a {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}


nav {
    float: left;
}
.copyright {
    z-index: 3;
    font-size: 0.5rem;
    font-weight: 400;
    position: fixed;
    bottom: 13px;
    left: 10%;
    color: #808080;
}

.global_part {
    z-index: 99;
}

#menu_icon {
    position: fixed;
    top: 2vw;
    left: 2vw;
}

#menu_icon_outer {
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: icon_flicker 1s cubic-bezier(0.4, 0, 0.2, 1) alternate infinite;
    animation: icon_flicker 1s cubic-bezier(0.4, 0, 0.2, 1) alternate infinite;
}
@-webkit-keyframes icon_flicker {
    from {
        opacity: 0.9;
    }
    to {
        opacity: 0;
    } 
}
@keyframes icon_flicker {
    from {
        opacity: 0.9;
    }
    to {
        opacity: 0;
    } 
}

#menu_icon_inner{
    opacity: 1;
    transform: scale(1);
}

#menu_icon_inner:hover {
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    opacity: 1;
    transform: scale(1.23);
    -webkit-animation: icon_flicker_stop 1s ease-in-out alternate 1;
    animation: icon_flicker_stop 1s ease-in-out alternate 1;
}
@-webkit-keyframes icon_flicker_stop {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.23);
        opacity: 1;
    } 
}
@keyframes icon_flicker_stop {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.23);
        opacity: 1;
    } 
}

#logo {
    position: fixed;
    top: 1.5vw;
    right: 1vw;
}


#menu_back {
    position: fixed;
    left: -378px;
    top: -175px;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    transform: translateX(-60vw) rotate(-200deg);
    opacity: 0;
}
.rotate_show {
    -webkit-animation: back_show 0.6s cubic-bezier(0.22, 0.43, 0.17, 1.00) forwards 1;
    animation: back_show 0.6s cubic-bezier(0.22, 0.43, 0.17, 1.00) forwards 1;
}
@-webkit-keyframes back_show {
    from {
        transform: translateX(-60vw) rotate(-200deg);
        opacity: 0;
    }
    to {
        transform: translateX(0) rotate(25deg);
        opacity: 1;
    } 
}
@keyframes back_show {
    from {
        transform: translateX(-60vw) rotate(-200deg);
        opacity: 0;
    }
    to {
        transform: translateX(0) rotate(25deg);
        opacity: 1;
    } 
}



.rotate_hide {
    -webkit-animation: menu_back_hide 1s cubic-bezier(0.4, 0, 0.2, 1) forwards 1;
    animation: menu_back_hide 1s cubic-bezier(0.4, 0, 0.2, 1) forwards 1;
}
@-webkit-keyframes menu_back_hide {
    from {
        transform: translateX(0) rotate(25deg);
        opacity: 1;
    }
    to {
        transform: translateX(-60vw) rotate(-200deg);
        opacity: 0;
    } 
}
@keyframes menu_back_hide {
    from {
        transform: translateX(0) rotate(25deg);
        opacity: 1;
    }
    to {
        transform: translateX(-60vw) rotate(-200deg);
        opacity: 0;
    } 
}


#close_menu {
        transform: translateX(-1vw);
        opacity: 0;
}
.move_show {
    -webkit-animation: close_icon_show 500ms ease-in forwards 1;
    animation: close_icon_show 500ms ease-in forwards 1;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
@-webkit-keyframes close_icon_show {
    from {
    -webkit-transform: translateX(-1vw);
    -ms-transform: translateX(-1vw);
    transform: translateX(-1vw);
    opacity: 0;
    }
    to {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    } 
}
@keyframes close_icon_show {
    from {
    -webkit-transform: translateX(-1vw);
    -ms-transform: translateX(-1vw);
    transform: translateX(-1vw);
    opacity: 0;
    }
    to {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    } 
}

.move_hide {
    -webkit-animation: menu_text_hide 1s cubic-bezier(0.4, 0, 0.2, 1) forwards 1;
    animation: menu_text_hide 1s cubic-bezier(0.4, 0, 0.2, 1) forwards 1;
}
@-webkit-keyframes menu_text_hide {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-70vw);
        opacity: 0;
    } 
}
@keyframes menu_text_hide {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-70vw);
        opacity: 0;
    } 
}

.nav-main > li {
    -webkit-transform: translateX(-1vw);
    -ms-transform: translateX(-1vw);
    transform: translateX(-1vw);
    opacity: 0;
}
.js-nav-active .nav-main > li {
    -webkit-animation: menu_show .8s .4s cubic-bezier(.25,.74,.22,.99) forwards 1;
    animation: menu_show .8s .4s cubic-bezier(.25,.74,.22,.99) forwards 1;
}

@-webkit-keyframes menu_show {
    from {
        -webkit-transform: translateX(-1vw);
        -ms-transform: translateX(-1vw);
        transform: translateX(-1vw);
        opacity: 0;
    }
    to {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    } 
}
@keyframes menu_show {
    from {
        -webkit-transform: translateX(-1vw);
        -ms-transform: translateX(-1vw);
        transform: translateX(-1vw);
        opacity: 0;
    }
    to {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    } 
}
    .js-nav-active .nav-main > li:nth-child(2) {
        animation-delay: .6s;
    }

    .js-nav-active .nav-main > li:nth-child(3) {
        animation-delay: 0.8s;
    }

    .js-nav-active .nav-main > li:nth-child(4) {
        animation-delay: 1s;
    }

#menu_window {
    position: fixed;
    top: 0;
    left: 0;
}

#menu_window #close_menu {
    margin-top: 27px;
    margin-left: 27px;
}
#menu_window #nav_menu {
    margin-top: 54px;
    text-decoration: none;
}
#menu_window #nav_menu ul li{
    margin-left: 135px;
    margin-bottom: 54px;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: Verdana, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main {
    width: 100%;
    height: 100%;
    opacity: 1;
    cursor: default;
}
.back_hide {
    opacity: 1;
    cursor: none;
    -webkit-animation: main_back_hide 1s cubic-bezier(0.4, 0, 0.2, 1) forwards 1;
    animation: main_back_hide 1s cubic-bezier(0.4, 0, 0.2, 1) forwards 1;
}
@-webkit-keyframes main_back_hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    } 
}
@keyframes main_back_hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    } 
}


.nav_cn {
    font-size: medium;
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif; 
}
.nav_description {
    font-size: small;
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-family: Arial, sans-serif;
}
#nav_menu a:link,
#nav_menu a:visited,
#nav_menu a:active {
    color: black;
}
#nav_menu a:hover {
    color: #e0e0e0;
}

#loading {
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #96B432;
    z-index: 999;
}
#logo_splash {
    opacity: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -37px;
    margin-left: -46px;
    z-index:999;
-webkit-transform-origin: 50%;
    transform-origin: 50%;
-webkit-animation: splash_effect 1s cubic-bezier(0.4, 0, 0.2, 1) alternate infinite;
    animation: splash_effect 1s cubic-bezier(0.4, 0, 0.2, 1) alternate infinite;
}
@-webkit-keyframes splash_effect {
    from {
    -webkit-transform: scale(1);
            transform: scale(1); 
            opacity: 0.5;
    }
    to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
            opacity: 1;
    } 
}

@keyframes splash_effect {
    from {
    -webkit-transform: scale(1);
            transform: scale(1); 
            opacity: 0.5;
    }
    to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
            opacity: 1;
    } 
}

.lang-switch li {
    display: inline-block;
}

.lang-switch {
    z-index: 3;
}

    .lang-switch li {
        font-weight: 400;
        color: #999;
    }

        .lang-switch li + li {
            margin-left: 20px;
        }

        .lang-switch li.active {
            color: #000;
        }

        .lang-switch a:hover {
            color: #000;
        }

    .lang-switch {
        position: fixed;
        top: 50%;
        right: 0px;
        -webkit-transform: rotate(-90deg) translate(20%, 200%);
        -ms-transform: rotate(-90deg) translate(20%, 200%);
        transform: rotate(-90deg) translate(20%, 200%);
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
    }
